bower_components
dist
node_modules
build

api/
src/codelabs/
tools/bin
tools/pkg
tools/src/*
!tools/src/codelabs/
!tools/src/server/
tools/src/codelabs/codelabs
tools/src/server/server
tools/claat-*

# special compiled codelabs
!api/
!src/codelabs/
!tools/bin/codelabs
!tools/bin/server
!tools/claat-*
!bower_components/
